@charset "UTF-8";
/* CSS Document */

/*Standardization Across Browsers*/

html,
html *{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family:'Open Sans', sans-serif ;
	background-color: #292826;
	overflow-x: hidden;
	font-weight: 370;
	
}
.avatar{
	vertical-align: center;
	width: 25vw;
	height: 25vw;
	border-radius: 50%;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

.topalign h3{
	padding-top: 0.2vw !important;
	text-align: left !important;
}
.sticky{
	position:fixed;
	top: 0;
	width: 100%;  
}

.style_picture{
	margin-left: auto;
	margin-right: auto;
	display: block;
	object-fit: contain;
}



/*---Top Title---*/
.center {
  	position: absolute;
	left: 50%;
  	top: 50%;
  	text-align: center;
  	color: white;
  	font: bolder;
	background-color: rgb(0,0,0); /* Fallback color */
  	background-color: rgba(0,0,0, 0.5); /* Black w/opacity/see-through */
	transform: translate(-50%, -50%);
  	z-index: 2;
  	width: 57%;
  	padding: 3vw;
	padding-left: 8vw;
	padding-right: 8vw;
	height: auto;
}
.center h1{
	font-size: 5vw;
	background-color: transparent;
	padding-bottom: 1vw;
	padding-top: 1vw;
	border-bottom: 1px solid #FFFFFF;
    border-bottom-color: rgba(255,255,255,0.35);
	font-weight: 500;

}
.center h3{
	font-size: 4vw;
	background-color: transparent;
	padding-bottom: 1vw;
	font-weight: 250;
}
/*---Top Title---*/


.header{
	z-index: 3;
	
}

.style_sections ul{
	list-style-type: none;
	padding: 2vw;
	
}

.style_sections ul li a{
	text-decoration: none;
	color: white;
	text-align: center;
	display: block;
	text-transform: uppercase;
	padding: 0.5vw;
	font-size: 3vw;
	
}
.style_sections ul li a:hover{
	text-decoration: underline;
}
.section{
	width: 70%;
	transform: translate(20%, 0);
  	z-index: 2;


}
.sticky ~.section{
	padding-top: 7vw !important;
}
.section h2{ /*Titles of sections*/
	text-transform: capitalize;
	color: #F9D342;
	text-align: center;
	padding: 2vw;
	padding-bottom: 0.5vw;
	padding-top: 3vw;
	font-size: 4vw;
	
}

.section h4{ /*Quote of each section*/
	color: lightgray;
	text-align: center;
	padding: 0.5vw 8vw;
	padding-bottom: 3vw;
	font-size: 1.8vw;
	font-weight: 300;
}

.section p{
	color: lightgray;
}

.subsection h2{
	font-size: 3.5vw;
	text-align: center;
	position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.subcat h3{
	color: #F9D342;
	font-size: 3vw;
	padding-bottom: 2.5vw;
	padding-top: 2.5vw;
	
	
}
.col-lf, .col-rt {
  	float: left;
}
.col-lf{
	width: 45%;
}
.col-lf p{
	font-size: 1vw;
}
.col-rt{
	width: 55%;
	padding-left: 5vw;
}

.row h4{
	text-align: left;
	color: white;
	padding: 0;
	padding-bottom: 1vw;
	font-size: 2.1vw ;
}
.row p{
	font-size: 1vw;
	font: 100;
}
.title{
	text-align: left !important;
	color: white;
	padding-bottom: 20px;
	font-size: 1.5vw;
}

.col-details{
	color: lightgrey;
	font-size: 1.2vw;
	line-height: 2vw;
	font: 300;
}
.location{
	color: orange;
}
.row {
	padding-top: 0;
	padding-bottom: 2vw;
}
.row ul li a{
	text-decoration: none;
	color: white;
	text-align: left;
	display: block;
	text-transform: uppercase;
	padding: 0.5vw;
	font-size: 1vw;
	
}
.fa{
	padding-right: 2px;
	padding-left: 1px;
	padding-top: 2px;
}
.link{
	display: inline-block;
	position: relative;
	left: 2%;
	top: 30%;
	font-size: 1.0vw;
	color: #F9D342;
	
}
.link2{
	font-size: 1.0vw;
	color: #F9D342;
	
}
.icon{
	display: inline-block;
	vertical-align:sub;
    height: 16px;
    width: 16px;
}
.align-center{
	padding-left: 24vw;
	margin-top: 3vw;
}
.col-md{
	width: 60%;
	transform: translate(40%, 0);
  	z-index: 2;
	
}
.col-md ul li{
	padding: 0.3vw 0vw;
}


.abilityScr{
	float: right;
	color: #F9D342;
	top: 0.5vw;
	font-size: 1.2vw;
	
}
.abilityTxt{
	color: white;
	font-size: 1.4vw;
}
.fa-star{
	
}
.centered{
	text-align: center;
}

figure {
	margin: 0;
	position: relative;
}

figure.effect{
	color: #FFF !important;
	padding: none;
}

figure.effect img{
}

figure figcaption {
	padding: 3vw;
    position: absolute;
    top: 0vw;
    left: 0vw;
	right: 0vw;
	bottom: 0vw;
	visibility: visible;
	background: rgba(41,40,38,0.70) ;
	
}
.vw3around{
	padding: 3vw;
}
figcaption {
	color: white;
}
figcaption h3{
	background: none;
	font-size: 1.5vw;
}
figcaption p{
	background: none;
}
/*Tablet View*/

@media (min-width: 768px){
	.style_sections ul li{
		display: inline-block;
	}
	.style_sections ul{
		text-align: center;
	}
	.style_sections ul li a{
		font-size: 1.5vw;
		padding-left: 15px;
		padding-right: 15px;
	}
	.section h2{
		font-size: 4vw;
	}
	.icon{
		height:32px;
		width: 32px;
	}
	
}

/*Desktop View*/

@media (min-width: 1024px){
}
